body {

    font-family: arial,verdana,helvetica;
    background-color: #FF842C !important;

   
}




.navbar-nav a{
    color: white !important;
    font-size: 1.3em !important;
    }


.navbar {
    background-color: #2c3e50;
    margin:0; /*add this*/
}



h1 {
	color: white;
}



.jumbotron{
    background: url("https://valentinaguerra.nl/afbeeldingen/achtergrond.png") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-color: white;
}


p{
    
font-size: 20px;    

}

