<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">				
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="valentina.html">Valentina</a></li>
            <li class="nav-item"><a class="nav-link" href="mylittlepony.html">My Little Pony</a></li>
            <li class="nav-item"><a class="nav-link" href="hobby.html">Hobby's</a></li>
          </ul>	
</div>		  		

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
